@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark and Light mode */
@layer base {
  :root {
    --text: #262626;
    --background: #E4E2E2;
    --primary: #2C5E2B;
    --secondary: #43553A;
    --accent: #CEDED3;
  }
  .dark {
    --text: #D9D9D9;
    --background: #1D1B1B;
    --primary: #A2D4A1;
    --secondary: #B3C5AA;
    --accent: #213126;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
